.jsoneditor-icon {
  -webkit-mask-image: url(Images/jsoneditor-icons.svg);
  background-color: rgb(110 110 110);
  min-width: 26px !important;
  width: 26px !important;
}

.jsoneditor-icon:hover:not([disabled]) {
  background-color: #333;
}

.jsoneditor-format {
  -webkit-mask-position: -72px -120px;
}

.jsoneditor-compact {
  -webkit-mask-position: -72px -96px;
}

.jsoneditor-expand-all {
  -webkit-mask-position: 0 -120px;
}

.jsoneditor-collapse-all {
  -webkit-mask-position: 0 -96px;
}

.jsoneditor-undo {
  -webkit-mask-position: -24px -96px;
}

.jsoneditor-redo {
  -webkit-mask-position: -48px -96px;
}